.wrapper {
    font-family: "eurostile", sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .wrapper__one {
        margin-top: 5rem;

        .title {
            font-size: 3rem !important;
            text-transform: capitalize;
            font-weight: 900;
        }

        .subtitle {
            line-height: 1.5;
            margin-bottom: 1.5;
            font-size: 1.5rem !important;
            font-weight: 400;
        }

        .personImg {
            width: 12rem;
            border-radius: 90%;
        }

        .heroDevice {
            width: 50rem;
        }
    }
}
